<div class="themes-container max-w-4xl mx-auto my-8 p-6 bg-white shadow-lg rounded-lg">
    <h1 class="text-2xl font-bold text-gray-800 text-center mb-6">Liste des Thèmes</h1>
    @if(auth.isAdmin) {
    <div class="flex justify-between items-center mb-6">
        <a [routerLink]="['/themes/0']" class="px-4 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600 shadow-md">
            Ajouter un Thème
        </a>
    </div>
    }


    @if(themes.length > 0) {
    <ul class="space-y-4">
        @for(theme of themes; track $index) {
        <li class="flex items-center justify-between p-4 bg-gray-100 rounded-lg shadow-md">
            <!-- Nom du Thème et Lien vers les Questions -->
            <div class="flex items-center">
                <a (click)="goToQuestions(theme)" class="text-lg font-medium text-gray-700 hover:underline">
                    {{ theme.name }}
                </a>
                <!-- <app-question [theme]="theme"></app-question> -->
            </div>
            @if(auth.isAdmin) {
            <div class="flex space-x-4">
                <a [routerLink]="['/themes', theme.id]"
                    class="px-4 py-2 bg-yellow-400 text-white rounded-lg hover:bg-yellow-500 shadow-md">
                    Modifier
                </a>
                <button (click)="deleteTheme(theme.id)"
                    class="px-4 py-2 bg-red-500 text-white rounded-lg hover:bg-red-600 shadow-md">
                    Supprimer
                </button>
            </div>
            }

        </li>
        }
    </ul>
    }
    @else {
    <p class="text-center text-gray-500 italic">Aucun thème disponible.</p>
    }
</div>